# CORE
ENV=development
PORT=3000
BASE_PATH=/api/v1
CLIENT_URL=http://localhost:5017
SESSION_SECRET=

# DEFAULT
DEFAULT_AVATAR_URL=https://i.ibb.co/DKcyw0Q/ef4b64d30186.png
DEFAULT_PRODUCT_IMAGE_URL=https://i.ibb.co/svJgQC2/f9baaa79a8ac.png

# AUTH
ACCESS_TOKEN_SECRET=12345
REFRESH_TOKEN_SECRET=12345

# DATABASE
MONGO_URI=mongodb+srv://Amrakk:<PASSWORD>@ecomm.lsgjp.mongodb.net/?retryWrites=true&w=majority&appName=EComm

REDIS_URI=redis://localhost:6379

# LOG
LOG_FOLDER=logs
ERROR_LOG_FILE=error.log
REQUEST_LOG_FILE=request.log

# IMGBB
IMGBB_API_KEY=
IMGBB_API_URL=https://api.imgbb.com/1/upload

# GOOGLE AUTH
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_PATH=/home
GOOGLE_FAILURE_REDIRECT_PATH=/login

# GIAO HANG NHANH
GHN_SHOP_ID=
GHN_API_TOKEN=
GHN_API_URL=https://dev-online-gateway.ghn.vn/shiip/public-api/v2

GHN_DEFAULT_SERVICE_ID=53320
GHN_DEFAULT_WEIGHT=1000
GHN_DEFAULT_WARD_CODE=21211
GHN_DEFAULT_DISTRICT_ID=1454

# PAYOS
PAYOS_API_KEY=
PAYOS_CLIENT_ID=
PAYOS_CHECKSUM_KEY=
